In [71]:
import pandas as pd
from course.utils import find_project_root
from course.unsupervised_classification.eda import plot_scatter, _scatter

# Unsupervised

In [18]:
base_dir = find_project_root()
df = pd.read_csv(base_dir / 'data_cache' / 'la_collision.csv')

In [19]:
df.columns

Index(['n_total', 'n_miniroundabouts', 'n_raining', 'n_dark', 'n_dry',
       'n_urban', 'n_slight'],
      dtype='object')

Features selected through the SQL query seem to be predominantly weather conditions along with some location environmental factors

In [20]:
df.corr()

                    n_total  n_miniroundabouts  ...   n_urban  n_slight
n_total            1.000000           0.100948  ...  0.427948  0.399993
n_miniroundabouts  0.100948           1.000000  ...  0.280485  0.234257
n_raining         -0.123263          -0.115716  ... -0.118159 -0.385054
n_dark             0.268774           0.057126  ...  0.281782  0.030202
n_dry              0.293484           0.211236  ...  0.369673  0.537205
n_urban            0.427948           0.280485  ...  1.000000  0.441377
n_slight           0.399993           0.234257  ...  0.441377  1.000000

[7 rows x 7 columns]

- Highest correlations are between rain and dry (negative) - intuitively makes sense

- Can't see any significant correlations between total and other variables

In [21]:
df.describe()

           n_total  n_miniroundabouts  ...     n_urban    n_slight
count   368.000000         368.000000  ...  368.000000  368.000000
mean    571.364130           0.013809  ...    0.564318    0.730225
std     514.423963           0.012674  ...    0.289879    0.090425
min       5.000000           0.000000  ...    0.000000    0.402098
25%     273.750000           0.005236  ...    0.305337    0.680574
50%     404.500000           0.010909  ...    0.558011    0.737364
75%     663.000000           0.019051  ...    0.841448    0.796838
max    4582.000000           0.104167  ...    1.000000    0.892324

[8 rows x 7 columns]

In [23]:
df

     n_total  n_miniroundabouts  n_raining  ...     n_dry   n_urban  n_slight
0      214.0           0.004673   0.079439  ...  0.794393  0.771028  0.710280
1      384.0           0.002604   0.119792  ...  0.739583  0.859375  0.765625
2      263.0           0.003802   0.076046  ...  0.798479  0.509506  0.695817
3      420.0           0.007143   0.066667  ...  0.795238  0.642857  0.742857
4      221.0           0.013575   0.072398  ...  0.733032  0.728507  0.651584
..       ...                ...        ...  ...       ...       ...       ...
363    162.0           0.006173   0.179012  ...  0.709877  0.654321  0.716049
364    191.0           0.005236   0.183246  ...  0.691099  0.240838  0.649215
365    327.0           0.006116   0.159021  ...  0.721713  0.712538  0.706422
366    654.0           0.001529   0.166667  ...  0.611621  0.055046  0.634557
367     89.0           0.011236   0.269663  ...  0.573034  0.426966  0.842697

[368 rows x 7 columns]

# Supervised

In [79]:
base_dir = find_project_root()
df = pd.read_csv(base_dir / 'data_cache' / 'energy.csv')

In [80]:
df.columns

Index(['built_age', 'current_energy_efficiency', 'environment_impact_current',
       'energy_consumption_current', 'co2_emissions_current',
       'lighting_cost_current', 'heating_cost_current',
       'hot_water_cost_current'],
      dtype='object')

In [84]:
base_dir = find_project_root()
test = pd.read_csv(base_dir / 'data_cache' / 'energy_X_test.csv')
train = pd.read_csv(base_dir / 'data_cache' / 'energy_X_train.csv')
test_raw = pd.read_csv(base_dir / 'data_cache' / 'energy_X_test_raw.csv')

In [53]:
test.shape

(20097, 7)

In [54]:
train.shape

(46890, 7)

In [55]:
y_test = pd.read_csv(base_dir / 'data_cache' / 'energy_y_test.csv')
y_pred = pd.read_csv(base_dir / 'data_cache' / 'models' / 'lda_y_pred.csv')

In [56]:
y_test.shape

(20097, 1)

In [57]:
y_pred.shape

(20097, 1)

In [58]:
y_test.value_counts()

built_age
Pre-30s      10957
Post-30s      9140
Name: count, dtype: int64

In [60]:
10957 + 9140

20097

In [61]:
9140 / 20097

0.4547942478976962

In [83]:
test.describe()

       current_energy_efficiency  ...  hot_water_cost_current
count               20097.000000  ...            20097.000000
mean                    0.011818  ...               -0.006474
std                     0.997819  ...                1.037775
min                    -2.547695  ...              -38.272431
25%                    -0.598280  ...               -0.659343
50%                     0.034979  ...               -0.268379
75%                     0.755129  ...                0.435035
max                     3.954477  ...                4.101257

[8 rows x 7 columns]

In [77]:
test['energy_consumption_current'].min()

np.float64(-3742.601009327537)

In [78]:
test[test['energy_consumption_current'] == -3742.601009327537]

      current_energy_efficiency  ...  hot_water_cost_current
7895                   2.811455  ...                 1.05085

[1 rows x 7 columns]

In [87]:
test_raw.iloc[[7895]]

      current_energy_efficiency  ...  hot_water_cost_current
7895                       86.0  ...                   194.0

[1 rows x 7 columns]

# Regression

In [63]:
base_dir = find_project_root()
df = pd.read_csv(base_dir / 'data_cache' / 'la_energy.csv')

In [66]:
df[df['age'] == 'Old']['n_rooms'].value_counts()

n_rooms
1.0     346
2.0     346
3.0     346
4.0     346
5.0     346
6.0     346
7.0     346
8.0     346
10.0    346
9.0     345
Name: count, dtype: int64

In [67]:
df[df['age'] == 'Recent']['n_rooms'].value_counts()

n_rooms
1.0     346
2.0     346
3.0     346
4.0     346
5.0     346
6.0     346
7.0     346
8.0     346
9.0     345
10.0    345
Name: count, dtype: int64